.img-container {
  height: calc(76vw / 4 * 0.6);
  overflow: hidden;
  position: relative;
  
  .lazy-load-image-background {
    max-height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto;
  }
  
  .duration {
    position: absolute; 
    bottom: 0.4em;
    right: 0.4em;
    background: rgba(0,0,0,0.8);
    padding: 0 5px;
    
    span {
      color:white;

    }
  }
  
}
.img-container-large {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position:relative;
  
  .lazy-load-image-background {
    max-height: 100%;
    width: 100%;
  }

  img {
    width: 100%;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto;
  }
  
  .duration {
    position: absolute; 
    bottom: 0.4em;
    right: 0.4em;
    background: rgba(0,0,0,0.8);
    padding: 0 5px;
    
    span {
      color:white;

    }
  }
}
.img-container-small {
  width: 168px;
  height: 94.5px;
  position:relative;

  img {
    height: 100%;
    width: 100%;
  }
  
  .duration {
    position: absolute; 
    bottom: 0.4em;
    right: 0.4em;
    background: rgba(0,0,0,0.8);
    padding: 0 5px;
    
    span {
      color:white;
    }
  }
}


@media (max-width: 1200px) {
  .img-container{
    height: calc(76vw / 3 * 0.6);
  }
}
@media (max-width: 900px) {
  .img-container{
    height: calc(76vw / 2 * 0.6);
  }
}
@media (max-width: 600px) {
  .img-container{
    height: calc(76vw  * 0.6);
  }
}